body {
	background-color: #f8f8f8;

}

.wrap-login {
	padding: 20px;
	padding-bottom: 50px;
	margin-top: 30px;
	background-color: #fff;
	border: 1px solid #d0d0d0;
	-webkit-box-shadow: 10px -1px 20px -4px rgba(0,0,0,0.42);
-moz-box-shadow: 10px -1px 20px -4px rgba(0,0,0,0.42);
box-shadow: 10px -1px 20px -4px rgba(0,0,0,0.42);
}

.btn-login {
	background-color: grey;
	color: #fff;
	margin-top: 10px;
}

.login {
	padding-top:150px;
}