body {

	background-color: #f1f1f1;
}

button {
	text-decoration: none;
}

.form-header {
	background-color: #f1f1f1;
}

input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

textarea.form-control {
	resize: none;
	display: block;
}